In [90]:
import pandas as pd
import numpy as np
import csv
df_json_raw = pd.read_json('C:/Users/Phani deep/Desktop/maps.json' )
df_json = df_json_raw.apply( lambda x: pd.Series([x[0]['name'],x[0]['location']]), axis = 1 )
df_json.columns=['name','location']
print (df_json)
#with open('C:/Users/Phani deep/Desktop/names.csv', 'w') as csvfile:
 #   writer = csv.DictWriter(csvfile,df_json.columns)
 #   writer.writeheader()
  #  writer.writerow(df_json,sep='\t')
df_json.to_csv('C:/Users/Phani deep/Desktop/maps4.csv', encoding='utf-8', index=False)

                   name            location
0  Rixos The Palm Dubai  [25.1212, 55.1535]
1      Shangri-La Hotel  [25.2084, 55.2719]
2           Grand Hyatt  [25.2285, 55.3273]