In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
idata=pd.read_csv("/Users/Phani deep/Insurance_Data.csv")

In [24]:
idata.shape

(15290, 8)

In [26]:
idata.head()

,Policy Number,Number of Vehicles,Average Age,Gender Dummy,Married Dummy,Avg Veh Age,Fuel Type Dummy,Losses
0,150023,1,20.6,1,0,12.97,0,203.319595
1,152720,1,42.4,0,1,8.02,0,402.197302
2,174207,1,42.4,1,0,2.50,1,553.132096
3,139895,1,42.4,0,0,12.97,0,292.430579
4,174407,1,20.6,1,1,12.97,0,246.540576