In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
insurdata=pd.read_csv("/Users/Phani deep/Insurance_Data.csv")

In [3]:
insurdata.describe()

,Policy Number,Number of Vehicles,Average Age,Gender Dummy,Married Dummy,Avg Veh Age,Fuel Type Dummy,Losses
count,15290.000000,15290.000000,15290.000000,15290.000000,15290.000000,15290.000000,15290.000000,15290.000000
mean,149910.276651,2.495880,42.341969,0.493329,0.490974,8.656579,0.236756,389.859718
std,28948.806631,0.953776,16.976615,0.499972,0.499935,4.084988,0.425105,253.729433
min,100002.000000,1.000000,20.600000,0.000000,0.000000,2.500000,0.000000,12.534521
25%,124842.000000,2.000000,20.600000,0.000000,0.000000,8.020000,0.000000,226.434217
50%,149872.000000,2.000000,42.400000,0.000000,0.000000,8.020000,0.000000,354.937874
75%,175011.000000,3.000000,65.100000,1.000000,1.000000,12.970000,0.000000,488.676927
max,200000.000000,4.000000,65.100000,1.000000,1.000000,12.970000,1.000000,3500.000000

In [ ]:
insurdata['Losses'].plot(kind="hist")